- if score_results.count == 0
  .alert.alert-info Keine Einträge gefunden
- else
  %table.table
    %tr
      %th= Score::Result.human_attribute_name(:assessment)
      %th
    - score_results.each do |score_result|
      %tr
        %td
          = discipline_image(score_result.assessment.discipline)
          = score_result.to_s
        %td.text-right
          = link_to "Ansehen", score_result_path(score_result), class: "btn btn-sm btn-default"