.row
  .col-md-8
    = box Score::Result.model_name.human do |box|
      = render 'index_table', score_results: @score_results
               
      = box.footer do
        - if logged_in?
          .pull-right= link_to "Hinzufügen", new_score_result_path, class: "btn btn-sm btn-default"
        .clearfix