[submodule "firesport-series"]
	path = firesport-series
	url = git@github.com:Feuerwehrsport/firesport-series.git
[submodule "firesport"]
	path = firesport
	url = git@github.com:Feuerwehrsport/firesport.git
