= count_table(rows, class: "datatable-scores") do |ct|
  - ct.col("Platz", :rank, class: "col-5", th_options: { class: "small" })
  - ct.col("Name", class: "col-15") { |row| row.entity.last_name }
  - ct.col("Vorname", class: "col-15") { |row| row.entity.first_name }
  - cups.each do |cup|
    - ct.col(cup.competition_place, class: "col-10", th_options: { class: "small" }) { |row| series_assessment_cup_participation(cup, row) }
  - ct.col("Bestzeit", :best_result_entry, class: "col-5", th_options: { class: "small" })
  - ct.col("Summe", :sum_result_entry, class: "col-5", th_options: { class: "small" })
  - ct.col("Teil.", :count, class: "col-5", th_options: { class: "small" })
  - ct.col("Punkte", :points, class: "col-5", th_options: { class: "small" })