%thead
  %tr{ class: "small" }
    %th Lauf
    %th Bahn
    - if @score_list.single_discipline?
      - if Competition.one.show_bib_numbers?
        %th Nr.
      %th Nachname
      %th Vorname
    %th Mannschaft
    - if times
      %th Zeit