%thead
  %tr.small
    %th
      %span.thead-run Lauf
    %th
      %span.thead-track Bahn
    - if @score_list.single_discipline?
      - if Competition.one.show_bib_numbers?
        %th Nr.
      %th Nachname
      %th Vorname
    %th Mannschaft
    - if times
      - if @score_list.separate_target_times?
        %th Ziele
      %th Zeit

