---
http_interactions:
- request:
    method: post
    uri: https://feuerwehrsport-statistik.de/api/api_users
    body:
      encoding: UTF-8
      string: api_user%5Bname%5D=Wettkampf
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e52e25d6bea3a1fd480e4d37e16569a"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"login":true,"current_user":{"name":"Wettkampf","type":"api-user"}}'
  recorded_at: Wed, 12 Jun 2019 09:34:57 GMT
- request:
    method: post
    uri: https://feuerwehrsport-statistik.de/api/import_requests
    body:
      encoding: UTF-8
      string: import_request%5Bcompressed_data%5D=x%9C%ABV%CAK%CCMU%B2R%0AO-%29%C9N%CC-H%D3%F5%03%09%E8%28%A5%24%96%80%C4%8D%0C%0C-u%0D%CCt%0D%8D%94j%01M%3C%0D8
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9263595201733bd01c5c446b133d9561"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"login":true,"current_user":{"name":"Wettkampf","type":"api-user"},"created_id":63}'
  recorded_at: Wed, 12 Jun 2019 09:34:57 GMT
recorded_with: VCR 4.0.0
