= box('Erläuterung') do
  %p Der Name sollte das Geschlecht wiederspiegeln (<em>Männer</em>, <em>Frauen</em>, <em>AK1 - Mädchen</em>) oder anzeigen, dass diese Wertungsgruppe ungeschlechtlich ist (<em>Erwachsene</em>, <em>Jugend</em>, <em>Kinder</em>).
