.row
  .col-md-8
    %h1
      %span.glyphicon.glyphicon-flash
      Fehler 422 - Unprocessable Entity
      %span.glyphicon.glyphicon-flash
.row
  .col-md-6
    = box 'Mögliche Ursachen' do
      %ul
        %li Absichtliche oder unabsichtliche Eingabe falscher Daten
        %li Programmfehler
  .col-md-6
    = box 'Mögliche Lösungen' do
      %ul
        %li Erneut probieren
        %li Probieren Sie andere Werte oder Daten aus
        %li #{link_to('Entwickler', impressum_path)} über Fehler benachrichtigen
