.row
  .col-md-12
    = box '' do |box|
      %table.table
        %tr
          %th Name
          %th
        - @certificates_templates.each do |template|
          %tr
            %td= template.name
            %td.text-right
              = link_to "Ansehen", {action: :show, id: template}, class: "btn btn-sm btn-default"
              = link_to "Bearbeiten", {action: :edit, id: template}, class: "btn btn-sm btn-default"
                
