%table.datatable.table.table-striped.table-bordered.table-condensed{ class: ct.options[:class] }
  %thead
    %tr
      - ct.columns.each do |column|
        %th{ column.th_options }= column.th_value
  %tbody
    - ct.rows.each do |row|
      %tr{ data: ct.row_data(row) }
        - ct.columns.each do |column|
          %td{ class: column.options[:class] }= column.content(row)
