= box 'Erläuterung' do
  %p Die Startlisten werden in zwei Spalten auf ein A4-Blatt erzeugt. Sie können die Reihenfolge durch Ziehen verändern.
  %p Ist eine Spalte voll, wird die Tabelle automatisch in der nächsten Spalte fortgesetzt. Mit dem Element <em>Spaltenumbruch</em> kann man eine neue Spalte erzwingen.
  %p Ist eine Seite voll, wird die Tabelle automatisch auf der nächsten Seite fortgesetzt. Mit dem Element <em>Seitenumbruch</em> kann man eine neue Seite erzwingen.
