- free ||= ''
- if participations.present?
  %table.team_assessments
    - participations.each do |participation|
      %tr
        %th.small= participation.assessment.discipline.upcase
        %td.series-participation{ data: { id: participation.id } }= participation.second_time_with_points
- else
  %div= free