:ruby
  classes = []
  classes.push('modal', 'fade') if box.options[:modal]
  classes.push('panel-danger') if box.options[:danger]
  classes.push('panel-warning') if box.options[:warning]
.panel.panel-default{ class: classes }
  - if box.title.present? || box.header.present?
    .panel-heading{ box.options[:modal] ? { class: 'modal-body' } : {} }
      = box.title.presence
      = box.header.presence
      - if box.options[:modal]
        %button.close{ type: :button, data: { dismiss: :modal }, 'aria-hidden' => true } ×
        .clearfix
  .panel-body
    = box.body.try(:html_safe)
  - if box.footer.present?
    .panel-footer= box.footer
