.panel.panel-default{ box.options[:modal] ? { class: "modal fade" } : {} }
  - if box.title.present? || box.header.present?
    .panel-heading{ box.options[:modal] ? { class: "modal-body" } : {} }
      - if box.title.present?
        = box.title
      - if box.header.present?
        = box.header
      - if box.options[:modal]
        %button.close{ type: :button, data: { dismiss: :modal }, "aria-hidden" => true } ×
        .clearfix
  .panel-body
    = box.body.html_safe
  - if box.footer.present?
    .panel-footer= box.footer