- flash.each do |type, message|
  .alert-dismissible.fade.in.alert{ class: alert_class_for(type) }
    %i.fa{ class: alert_icon_for(type) }
    %button.close{ 'data-dismiss' => 'alert', type: 'button' }
      %span{ 'aria-hidden' => 'true' } ×
      %span.sr-only Schließen
    = message
